<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/finance/stylecontasreclist.css">
</head>
<body>
	<main class="mt-5 pt-3" layout:fragment="corpo">
		<div class="container-fluid">
			<div class="row">
				<div class="titulo-secao">
					<h2>Financeiro</h2>
					<div class="separator"></div>
					<p>
						<i class="bi bi-currency-exchange"></i>/ Listagam de Contas a
						Receber
					</p>
				</div>
			</div>
			<div class="row">
				<div class="tables">
					<div class="table_header" align="right">
						<input id="localiza" placeholder="Localizar Registro" />
						<button class="add_new" title="Adicionar" onclick="cadastrar()">+Add
							New</button>
					</div>
				</div>
				<div id="div_header" align="left">
							<div class="radio" style="margin-left: 20px;">
								<input class="radios" type="radio" id="radio" name="fav_language"
									value="mensalidade" checked> <label for="cns">Mensalidades</label><br>
							</div>
							<div class="radio" style="margin-left: 20px;">
								<input class="radioss" type="radio" id="radio" name="fav_language" value="outros">
								<label for="cpf">Outros</label><br>
							</div>
						</div>
			</div>

			<div class="row" style="margin-top: -20px;">
				<div class="card" id="conteudo">
					<br>
					<div style="overflow: auto;">
						<table id="contasTable" class="table_section table-hover">
							<thead class="thead-dark">
								<tr>
									<th scope="col" id="td_id" style="width: 10%;">#</th>
									<th scope="col" style="width: 100px;">Emissão</th>
									<th scope="col" style="width: 70px;">Parcela</th>
									<th scope="col">Descrição</th>
									<th scope="col">Valor</th>
									<th scope="col" style="width: 105px;">Vencimento</th>
									<th scope="col">Ações</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
					</div>
					<br>
				</div>
				<ul class="pagination justify-content-center"
					style="margin: 20px 0; cursor: pointer;"></ul>
			</div>
		</div>
		
		<!-- Modal Baixa -->
		<div id="fades" class="hide"></div>
		<div class="alert"></div>
		<div id="modals" class="hide modalBaixa" data-backdrop="static">
			<div class="modals-header">
				<h2>Baixa de Registro Financeiro</h2>

			</div>

			<div class="modal-body modal-dialog-scrollable">
				<form action="" id="formBaixa" name="formBaixa" style="display: contents;">
					<div class="input-group input-group-sm mb-3" style="width: 50%;">
					  <label class="input-group-text" for="inputGroupSelect01">Caixa</label>
					  <select class="form-select" id="caixa" name="caixa">
					    <option selected>Selecione...</option>
					  </select>
					</div>
					<div class="input-group input-group-sm col-md-3 mb-3" style="width: 30%;">
						<span class="input-group-text" id="inputGroup-sizing-sm">Nº Parcela</span>
						<input type="text" class="form-control" id="parcela" name="parcela" aria-label="Sizing input"
							readonly="readonly" aria-describedby="inputGroup-sizing-sm">
					</div>
					<div class="input-group input-group-sm col-md-3 mb-3">
						<span class="input-group-text" id="inputGroup-sizing-sm">Descrição ou Aluno:</span>
						<input type="text" class="form-control" id="descricao" name="descricao" aria-label="Sizing input"
							aria-describedby="inputGroup-sizing-sm" disabled>
					</div>
					<div class="input-group input-group-sm col-md-3 mb-3" style="width: 40%;">
						<span class="input-group-text" id="inputGroup-sizing-sm">Vencimento:</span>
						<input type="text" class="form-control" id="vencimento" name="vencimento" aria-label="Sizing input"
							aria-describedby="inputGroup-sizing-sm" disabled>
					</div>
					<div class="input-group input-group-sm col-md-3 mb-3" style="width: 30%;">
						<span class="input-group-text" id="inputGroup-sizing-sm">Valor:</span>
						<input type="text" class="form-control" id="valor" onkeyup="formatarMoeda()"
							name="valor" aria-label="Sizing input" aria-describedby="inputGroup-sizing-sm" disabled>
					</div>
					<div class="input-group input-group-sm col-md-3 mb-3" style="width: 40%;">
						<span class="input-group-text" id="inputGroup-sizing-sm">Valor pago:</span>
						<input type="text" class="form-control" id="valorpago" onkeyup="formatarMoeda()"
							name="valorpago" aria-label="Sizing input" aria-describedby="inputGroup-sizing-sm">
					</div>
					<div class="input-group input-group-sm mb-3" style="width: 50%;">
					  <label class="input-group-text" for="inputGroupSelect01">Tipo de Pgto</label>
					  <select class="form-select" id="tipopgto" name="tipopgto">
					    <option selected>Selecione...</option>
					    <option value="Cartão">Cartão</option>
					    <option value="Dinheiro">Dinheiro</option>
					    <option value="Debito">Debito</option>
					    <option value="Pix">Pix</option>
					  </select>
					</div>
					<div class="justify-content-center" style="margin-top: 30px; display: flex;">
						<button class="save btn-primary btns">Salvar</button>
						<button class="btn-danger btns" id="close-modal" style="margin-left: 10px;">Cancelar</button>
					</div>
				</form>
			</div>
		</div>

		<script src="js/finance/contasrecscriptlist.js"></script>
	</main>
</body>
</html>