
#conteudo{
	margin-top: 20px;
	margin-left: 10px;
	width: 98%;
	border-radius: 11px;
	box-shadow: 2px 5px 4px 3px #00000080;
	background-color: white;
}

.title_box {
  border: #01658b 2px solid;
  border-radius: 10px;
  color: #01658b;
  margin: 3px 5px 10px 10px;
}

.title_box #title {
  position: relative;
  font-size: 15px;
  top: -0.5em;
  margin-left: 1em;
  display: inline;
  background-color: white;
}

#edit{
	margin-left: 80%;
	position: relative;
    top: -1em;
    background-color: red;
}

#matriculaTable,
#responsavelTable{
	font-size: 13px;
    margin-left: 5%;
    position: relative;
    top: -2em;
}

.title_box #content {}

#labelTitulo{
	font-size: 12px;
	color: black;
	margin-left: 10px;
}

#subject{
	display: inline-block;
    width: 48%;
    margin-top: 5px;
    margin-bottom: 10px;
}

@media(max-width: 1100px) {
	#subject{
	 width: 97%;
	}
}

#labelTitulo_mat{
	top: -2em;
	display: inline;
	position: relative;
	font-size: 12px;
	color: black;
	margin-left: 10px;
}

#novoMatricula,
#novoResponsavel{
	font-size: 12px;
	margin-left: 83%;
	position: relative;
    top: -2em;
    display: inline;
    cursor: pointer;
    color: #000000;
	background-color: #ffffff;
}

button{
	padding: 10px 20px;
	color: #ffffff;
	background-color: #0298cf;
	border-radius: 6px;
	cursor: pointer;
	border: 0px;
	transition: 0.4s;
	opacity: 0.8;
}
.btn{
	padding: 5px 10px;
	color: #ffffff;
	background-color: #0298cf;
	border-radius: 6px;
	cursor: pointer;
	border: 0px;
	transition: 0.4s;
	opacity: 0.8;
}

button:hover,
.btn:hover{
	opacity: 1
}

#id_button {
	margin-top: 20px;
	margin-left: 11px;
}

.table {
	width: 95%;
	margin-left: 15px;
	margin-top: 10px;
	font-size: 14px;
}

.table_header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: rgb(240, 240, 240);
}

.table_header p{
	color: #000000;
}

