<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
<div class="sidebar" th:fragment="menu">
     <div class="navigation">
         <ul>
             <li class="list active">
                 <a href="dashboard">
                     <span class="icon" ><i class="fa-solid fa-house"></i></span>
                     <span class="title" >Home</span>
                 </a>
             </li>
             <li class="list">
                 <a href="alunos_listagem">
                     <span class="icon" ><i class="fa-solid fa-graduation-cap"></i></span>
                     <span class="title" >Alunos</span>
                 </a>
             </li>
             <li class="list">
                 <a href="#">
                     <span class="icon" ><i class="fa-solid fa-comments"></i></span>
                     <span class="title" >Menssagens</span>
                 </a>
             </li>
             <li class="list">
                 <a href="#">
                     <span class="icon" ><i class="fa-solid fa-gear"></i></span>
                     <span class="title" >Configurações</span>
                 </a>
             </li>
             <li class="list">
                 <a href="#">
                     <span class="icon" ><i class="fa-solid fa-circle-info"></i></span>
                     <span class="title" >Ajuda</span>
                 </a>
             </li>
             <li class="list">
                 <a href="#">
                     <span class="icon" ><i class="fa-solid fa-lock"></i></span>
                     <span class="title" >Senha</span>
                 </a>
             </li>
             <li style="margin-top: 100%;" class="list">
                 <a onclick="sair();">
                     <span class="icon" ><i class="fa-solid fa-right-from-bracket"></i></span>
                     <span class="title" >Sair</span>
                 </a>
             </li>
         </ul>
     </div>
     
     <script src="js/menu/scriptMenu.js"></script>
     <script>
        const list = document.querySelectorAll('.list');
        function activeLink(){
            list.forEach((item) =>
            item.classList.remove('active'));
            this.classList.add('active');
        }
            list.forEach((item) =>
            item.addEventListener('click', activeLink));
    </script>
     
 </div><!--sidebar-->
</body>
</html>