<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
<div class="sidebar" th:fragment="menu">
     <div class="navigation" style="overflow: auto;">
         <ul>
         	<h3>Inicio</h3>
             <li class="list active">
                 <a href="dashboard">
                     <span class="icon" ><i class="fa-solid fa-house"></i></span>
                     <span class="title" >Home</span>
                 </a>
             </li>
             <li class="list">
                 <a href="alunos_listagem">
                     <span class="icon" ><i class="fa-solid fa-graduation-cap"></i></span>
                     <span class="title" >Alunos</span>
                 </a>
             </li>
             <div class="separator"></div>
             <h3>Financiero</h3>
             <li class="list">
                 <a href="#">
                     <span class="icon" ><i class="fa-solid fa-cash-register"></i></i></span>
                     <span class="title" >Caixa</span>
                 </a>
             </li>
             <li class="list">
                 <a href="#">
                     <span class="icon" ><i class="fa-solid fa-comments-dollar"></i></span>
                     <span class="title" >Contas a Receber</span>
                 </a>
             </li>
             <li class="list">
                 <a href="#">
                     <span class="icon" ><i class="fa-solid fa-money-check-dollar"></i></i></span>
                     <span class="title" >Contas a Pagar</span>
                 </a>
             </li>
             <div class="separator"></div>
             <h3>Configurações</h3>
             <li class="list">
                 <a href="anoletivo">
                     <span class="icon" ><i class="fa-solid fa-chalkboard-user"></i></span>
                     <span class="title" >Ano Letivo</span>
                 </a>              
             </li>
             <li class="list">
                 <a href="escolaslist">
                     <span class="icon" ><i class="fa-solid fa-school"></i></span>
                     <span class="title" >Escolas</span>
                 </a>
             </li>
             <li class="list">
                 <a href="#">
                     <span class="icon" ><i class="fa-solid fa-user-secret"></i></span>
                     <span class="title" >Usuários</span>
                 </a>
             </li>
             <li class="list">
                 <a href="configuracoes">
                     <span class="icon" ><i class="fa-solid fa-gears"></i></span>
                     <span class="title" >Configurações</span>
                 </a>
             </li>
             <div class="separator"></div>
             <h3>Relatórios</h3>
             <li class="list">
                 <a href="#">
                     <span class="icon" ><i class="fa-solid fa-print"></i></i></span>
                     <span class="title" >Gerador de Relatórios</span>
                 </a>              
             </li>
             <div class="separator"></div>
             <li class="list">
                 <a onclick="sair();">
                     <span class="icon" ><i class="fa-solid fa-right-from-bracket"></i></span>
                     <span class="title" >Sair</span>
                 </a>
             </li>
         </ul>
     </div>
     
     <script src="js/menu/scriptMenu.js"></script>
     <script>
        const list = document.querySelectorAll('.list');
        function activeLink(){
            list.forEach((item) =>
            item.classList.remove('active'));
            this.classList.add('active');
        }
            list.forEach((item) =>
            item.addEventListener('click', activeLink));
    </script>
     
 </div><!--sidebar-->
</body>
</html>