<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<!--NavBar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
		th:fragment="topo">
		<div class="container-fluid">
			<!-- offcanvas trigger -->
			<button class="navbar-toggler me-2" type="button"
				data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
				aria-controls="offcanvasExample">
				<span class="navbar-toggler-icon" data-bs-target="#offcanvasExample"></span>
			</button>
			<!-- offcanvas trigger -->
			<a class="navbar-brand fw-bold text-uppercase me-auto top" href="#" >
				<!-- <img src="img/adm.png" class="log"> -->
				SysAdm - Gestão Administrativa </a>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				 <form class="d-flex ms-auto">
				<!-- 	<div class="input-group my-3 my-lg-0">
						<input type="text" class="form-control"
							placeholder="Recipient's username"
							aria-label="Recipient's username"
							aria-describedby="button-addon2">
						<button class="btn btn-primary" type="button" id="button-addon2">
							<i class="bi bi-search"></i>
						</button>
					</div>-->
				</form>
				<ul class="navbar-nav mb-2 mb-lg-0">

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="bi bi-person-fill"></i>
					</a>
						<ul class="dropdown-menu dropdown-menu-end" id="opt"
							aria-labelledby="navbarDropdown">
							<!-- <li><a class="dropdown-item" href="#">Action</a></li> -->
							<li><a class="dropdown-item" href="#">Alterar Senha</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" onclick="sair();">Sair</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--NavBar-->

</body>
</html>