@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

html{
	font-size: 13px;
}

body,
button {
  font-family: "Inter", sans-serif;
  background-color: rgb(201, 201, 201);
}
:root {
  --offcanvas-width: 200px;
  --topNavbarHeight: 50px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link{
  display: flex;
  align-items: center;
}

.sidebar-link .right-icon{
  display: inline-flex;
  transform: all ease 0.25s;
}

.sidebar-link[aria-expanded=true] .right-icon{
  transform: rotate(180deg);
}

.top{
	font-size: 15px;
}

#logado{
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: cursive;
	color: rgba(255,255,255,.55);
}

@media (max-width: 646px){
  .navUser{
	margin-top: -53px !important;
  }
}

@media (max-width: 1100px){
  #logado{
	margin-bottom: -2px;
	font-size: 13px;
    margin-left: auto;
  }
  
  .navbar-toggler, .navbar-brand{
	margin-bottom: 20px;
  }
  
  .navUser{
	margin-top: -10px;
  }
  
  .navUser-link{
	margin-left: 145px;
  }
}


@media(min-width: 992px) {
  body{
    overflow: auto !important;
  }
  .offcanvas-backdrop::before {
    display: none;
  }
  main{
    margin-left: var(--offcanvas-width);
  }
  .sidebar-nav{
    transform: none;
    visibility: visible !important;
    top: var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight));
  }
 }

#navbarSupportedContent{
  	display: contents;
  }

@media (max-width: 1100px){
  .top{
  	font-size: 10px !important;
    width: 65%;
  }
  #opt{
  position: absolute;
  }
  #navbarSupportedContent{
  	display: contents;
  }
}

#fade, 
#fadeAviso{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	z-index: 5;
}

.aviso{
	margin-left: 85%;
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
}

.diamond {
	color: red;
}

.modal-body {
	top: -20px;
    font-size: 15px;
    font-family: cursive;
    color: red;
}

#modalAviso{
	position: fixed;
	left: 50%;
	top: 32%;
	transform: translate(-50%, -50%);
	width: 410px;
	max-width: 90%;
	background-color: #fff;
	padding: 1.2rem;
	border-radius: 0.5rem;
	z-index: 10;
}

#modal{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	max-width: 90%;
	background-color: #fff;
	padding: 1.2rem;
	border-radius: 0.5rem;
	z-index: 10;
}

#fade,
#fadeAviso
#modal,
#modalAviso {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.modal-header,
.modalAviso-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ccc;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

#modal.hide,
#modalAviso.hide,
#fade.hide,
#fadeAviso.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide,
#modalAviso.hide {
  top: 0;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.btn {
  width: 100px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn i{
	color: #fff;
	margin-right: 10px;
    height: 14px;
    width: 14px;
    font-size: 1rem;
}

.btn-can{
	width: 100px;
    background-color: #cf4343;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn-can i{
	color: #fff;
	margin-right: 10px;
    height: 14px;
    width: 14px;
    font-size: 1rem;
}

.btn:hover {
  background-color: #4d84e2;
}

.btn-can:hover {
  background-color: #ff0000;
}

.messageSucesso {
    padding: 19px 60px;
    position: fixed;
    top: 65px;
    right: 20px;
    background-color: #008040;
    border-radius: 3px;
    color: #fff;
    animation: slidein 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    z-index: 1;
}

.titulo-secao{
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    width: 98%;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 4px 7px 6px 0px #00000080;
}

.titulo-secao h2{
    font-size: 19px;
}

.titulo-secao p{
    font-size: 14px;
}

.titulo-secao svg{
    color: #73b4ff;
}

.separator{
    width: 100%;
    height: 2px;
    background-color: rgb(235, 235, 235);
    margin-top: 5px;
    margin-bottom: 5px;
}

.tables {
	width: 100%;
	margin-bottom: 5px;
	/*font-size: 14px;*/
}

.table_header{
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	background-color: rgb(240, 240, 240);
	border-radius: 10px;
	box-shadow: 4px 7px 6px 0px #00000080;
}

#status {
	width: 25%;
	-webkit-appearance: none;
    /* Remove estilo padr�o do Chrome */
    -moz-appearance: none;
    /* Remove estilo padr�o do FireFox */
    appearance: none;
    /* Remove estilo padr�o do FireFox*/
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #eeeeee;
    /* Imagem de fundo (Seta) */
    background-position: 218px center;
    /* Tamanho do select, maior que o tamanho da div "div-select" */
    height: 40px;
    /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
    border: 1px solid #0298cf;
    background-color: #fff;
    border-radius: 6px;
	color: #0298cf;
    padding-left: 15px;
    font-family:Verdana, Trebuchet,sans-serif;
}

#localiza{
	padding: 10px 20px;
	margin: 0 10px;
	outline: none;
	border: 1px solid #0298cf;
	border-radius: 6px;
	color: #0298cf;
}

.add_new{
	padding: 8px 15px;
	color: #ffffff;
	background-color: #0298cf;
	border-radius: 6px;
	border-color: #0298cf;
	cursor: pointer;
}

#conteudo{
	margin-top: 5px;
	width: 98%;
	box-shadow: 6px 7px 6px 0px #00000080;
	border-radius: 10px;
	background-color: white;
	font-size: 14px;
	margin-left: 8px;
}

.pagination {
	margin:20px 0; 
	cursor: pointer;
	text-align: center;
}

.page-item {
    list-style-type: none;
    display: inline-block;
    font-size: 13px;
    height: 100%;
    width: 70px;
    border-radius: 10px;
}
.page-item:hover{
    background-color:#fff;
    color:black;
}

.btns{
	display: flex;
	outline: none;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	padding: 10px;
	color: #ffffff;
}