#logado{
	font-size: 15px;
	margin-top: 0;
	margin-bottom: 10px;
	font-family: cursive;
}

#cabecario {
    background-color: rgb(192, 192, 192);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 6px 0px #00000080;
    width: 95%;
    left: 10px;
}

h1{
	font-size: 25px;
}

#conteudo{
	margin-top: 20px;
	margin-left: 15px;
	width: 95%;
	box-shadow: 4px 4px 6px 0px #00000080;
}

button{
	margin-top: 15px;
	position: static;
	text-align: right;
}