<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/responsaveis/styleListagem.css">
</head>
<body>
<div class="content" layout:fragment="corpo">
	<h1 id="logado"></h1>
       <div class="titulo-secao">
           <h2>Responsáveis</h2>
           <div class="separator"></div>
           <p><i class="fa-solid fa-people-group"></i> / Listagem</p>
       </div>
		
		<div class="alert"></div>
		<div class="table">
			<div class="table_header">
				<p></p>
				<div id="div_header">
					<input id="localiza" placeholder="Localizar Responsável"/>
					<button id="add_new" title="Adicionar" onclick="cadastrar()" >+Add New</button>
				</div>
			</div>
		</div>
		
		<div class="card" id="conteudo">
			<br>
			<table id="responsaveisTable" class="table_section table table-hover table-sm">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col" id="td_id">#</th>
			      <th scope="col" id="td_nome">Nome</th>
			      <th scope="col" >Data de Nascimento</th>
			      <th scope="col">Celular</th>
			      <th scope="col">Ações</th>
			    </tr>
			  </thead>
			  <tbody>
			    
			  </tbody>
			</table>
		</div>
		<div>
			<div id="id_button">
				<button id="voltar" >Voltar</button>
			</div>
			<div class="pag">
				<ul class="pagination">	</ul>
			</div>
		</div>
		
		
		<script src="js/responsaveis/scriptListagem.js"></script>
		<script src="js/responsaveis/scrpitpagListagem.js"></script>
	
</div><!--content-->
</body>
</html>