<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<link rel="stylesheet" href="css/stylefichaaluno.css">
				
		<div id="cabecario" class="card">
			<h1>Ficha do Alunos</h1> 
		</div>
		
		<div class="card" id="conteudo">
			<div class="title_box" id="subject_dados">
			  <div id="title">Dados do Aluno</div>
			  <div id="content">
			  	  <div>
			  	  	<label id="labelTitulo" ><strong>Matricula do Aluno:</strong> </label>
				    <label id="labelTitulo" class="id">id</label>
				    <label id="labelTitulo" ><strong>Status:</strong> </label>
				    <label id="labelTitulo" class="status">status</label>
			  	  </div>
				  <div>
				  	<label id="labelTitulo" ><strong>Nome do Aluno:</strong> </label>
				    <label id="labelTitulo" class="nome">nome</label>
				    <label id="labelTitulo"><strong>Data de Nascimento:</strong> </label>
				    <label id="labelTitulo" class="dtnascimento">nasc</label>
				  </div>
				  <div>
			  	  	<label id="labelTitulo" ><strong>E-mail:</strong> </label>
				    <label id="labelTitulo" class="email">email</label>
			  	  </div>
			   	  <div>
			   	  	<label id="labelTitulo"><strong>Endereço:</strong> </label>
				    <label id="labelTitulo" class="logradouro">end</label>
				    <label id="labelTitulo"><strong>Bairro:</strong> </label>
				    <label id="labelTitulo" class="bairro">bairro</label>
				    <label id="labelTitulo"><strong>Cidade:</strong> </label>
				    <label id="labelTitulo" class="cidade">cidade</label>
				    <label id="labelTitulo"><strong>Estado:</strong> </label>
				    <label id="labelTitulo" class="uf">estado</label>
			   	  </div>
			   	  <div>
			   	  	<label id="labelTitulo"><strong>Telefone:</strong> </label>
				    <label id="labelTitulo" class="telefone">tel</label>
				    <label id="labelTitulo"><strong>Celular:</strong> </label>
				    <label id="labelTitulo" class="celular">cel</label>
			   	  </div>
			  </div>
			</div>
			<div>
				<div class="title_box" id="subject">
				  <div id="title">Matriculas</div>
				  	<button id="novoMatricula">+Novo</button>
					  <div id="content">
					  	 <table id="matriculaTable" class="table_section table table-hover table-sm">
						  <thead class="thead-dark">
						  </thead>
						  <tbody>
						    
						  </tbody>
						</table>
				  </div>
				 </div>
				 <div class="title_box" id="subject" style="margin-left: -2px;">
				   <div id="title">Responsáveis</div>
					  <div id="content">
					  <button id="novoResponsavel">+Novo</button>
					  	<table id="responsavelTable" class="table_section table table-hover table-sm">
						  <thead class="thead-dark">
						  </thead>
						  <tbody>
						    
						  </tbody>
						</table>
				  </div>
				</div>
			</div>
			<div class="title_box" id="subject_dados">
			   <div id="title">Telefone Responsaveis</div>
				  <div id="content">
				  	<label id="labelTitulo"><strong>Telefone:</strong> </label>
				    <label id="labelTitulo" class="tel">tel</label>
				    <label id="labelTitulo"><strong>Celular:</strong> </label>
				    <label id="labelTitulo" class="cel">cel</label>
			  </div>
			</div>
			<br>
		</div>
		<div id="id_button">
			<button id="voltar" >Voltar</button>
		</div>
		
		<!-- Modal -->
		<div id="fade" class="hide"></div>
	    <div id="modal" class="hide">
	      <div class="modal-header">
	        <h2>Cadastro de Matricula</h2>
	        
	      </div>
	      <div class="modal-body">
	      <form action="" id="formMatriculaAluno" name="formMatriculaAluno">
	     <!--  <div class="label-float" id="div_id">
                <input type="text" id="idMatricula" placeholder="" name="idMatricula" required readonly="readonly"> 
                <label id="labelId" for="idMatricula">ID Matricula: </label>
            </div>
	      	<div class="label-float" id="div_id">
                <input type="text" id="idAluno" placeholder="" name="idAluno" required readonly="readonly"> 
                <label id="labelId" for="idAluno">ID aluno: </label>
            </div>--> 	
	        <div>
	        	<select name="selectAno" id="selectAno" >
		        	<option>Selecione o ano Letivo</option>
		        </select>
		        <i class="fa fa-arrow-down" aria-hidden="true"></i>
	        </div>
	        <div>
	        	<select name="selectEscola" id="selectEscola" >
		        	<option>Selecione a escola</option>
		        </select>
		        <i class="fa fa-arrow-down" aria-hidden="true"></i>
	        </div>
	        <div >
		        <div class="label-float" id="div_turma">
	                <input type="text" id="turma" placeholder="" name="turma" required> 
	                <label id="labelTurma" for="turma">Turma: </label>
	            </div>
	        </div>
	        <div>
	        	<select name="selectTurno" id="selectTurno" >
		        	<option>Selecione o Turno</option>
		        	<option value="Manhã">Manhã</option>
		        	<option value="Tarde">Tarde</option>
		        </select>
		        <i class="fa fa-arrow-down" aria-hidden="true"></i>
	        </div>
	        <div id="salMatricula">
	        	<button id="salvaMatricula">Salvar</button>
	        	<button id="close-modal">Cancelar</button>
	        </div>
	        </form>
	      </div>
	    </div>
		
		<script src="js/scriptfichaaluno.js"></script>
	</section>
</body>
</html>