<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/styledashboard.css">
</head>
<body>
	<main class="mt-5 pt-3 topmain" layout:fragment="corpo">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 fw-bold fs-3">Dashboard</div>
			</div>
			<div class="row">
				<div class="col-md-3 mb-3">
					<div class="card text-white bg-primary h-100">
						<div class="card-header">Alunos Matriculados</div>
						<div class="card-body">
							<h5 class="card-title" id="matriculados" name="matriculados" align="center">0</h5>
						</div>
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="card text-white bg-success h-100">
						<div class="card-header">Total das Mensalidades</div>
						<div class="card-body" align="right">
							<h5 class="card-title" id="mensalidades" name="mensalidades">R$ 0,00</h5>
						</div>
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="card text-white bg-warning h-100">
						<div class="card-header">Mensalidades Recebidas</div>
						<div class="card-body">
							<h5 class="card-title" id="recebidos" name="recebidos" align="right">R$ 0,00</h5>
						</div>
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="card text-white bg-danger h-100">
						<div class="card-header">Saldo em Caixa</div>
						<div class="card-body">
							<h5 class="card-title" id="saldo" name="saldo" align="right">R$ 0,00</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">Gráfico da média dos ultimos 3 meses</div>
						<div class="card-body">
							<canvas class="chartAnteriores" width="400" height="200"></canvas>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card">
						<div class="card-header">Grafico do Mês atual</div>
						<div class="card-body">
							<canvas class="chartAtual" width="400" height="200"></canvas>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="row" style="margin-top: -20px;">
					<div class="card" id="conteudo" style="margin-top: 30px; width: 100%;">
						<label id="table-titulo">Relação de Entradas e Saídas</label>
						<div style="overflow: auto;">
							<table id="baixasTable" class="table_section table-hover">
								<thead class="thead-dark">
									<tr>
										<th scope="col" id="td_id" style="width: 10%;">Data Baixa</th>
										<th scope="col" style="width: 100px;">Parcela</th>
										<th scope="col" style="width: 280px;">Descrição</th>
										<th scope="col" style="width: 160px;">Tipo de Pagamento</th>
										<th scope="col">Valor</th>
										<th scope="col" style="width: 105px;">Tipo C / D</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
								<tfoot>
									<tr>
										<th scope="col" id="td_id" style="width: 10%;">Data Baixa</th>
										<th scope="col" style="width: 100px;">Parcela</th>
										<th scope="col" style="width: 70px;">Descrição</th>
										<th scope="col">Tipo de Pagamento</th>
										<th scope="col">Valor</th>
										<th scope="col" style="width: 105px;">Tipo C / D</th>
									</tr>
								</tfoot>
							</table>
						</div>
						<label style="font-size: 11px; color: red;">Tipos: '<b>C</b>' Crédito / '<b>D</b>' Débito</label>
					</div>
					<ul class="pagination justify-content-center"
						style="margin: 20px 0; cursor: pointer;"></ul>
				</div>
			</div>
		</div>
		<script src="js/finance/dashboardscript.js"></script>
	</main>

</body>
</html>