<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="img/adm.png" type="image/x-icon" />
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/dataTables.bootstrap5.min.css">
<!-- Fallr 
<link href="/css/jquery-fallr-2.0.1.css" media="screen" rel="stylesheet" type="text/css" />-->
<link rel="stylesheet" type="text/css" media="screen,projection" href="https://rawgit.com/faisalman/fallr-js/master/src/css/jquery-fallr-2.0.1.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="css/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<!-- Fallr -->
<script type="text/javascript" src="https://rawgit.com/faisalman/fallr-js/master/src/js/jquery-fallr-2.0.1.js"></script>
<!--<script src="/js/jquery-fallr-2.0.1.js" type="text/javascript"></script>-->

<title>SysAdm - Gestão Administrativa</title>
</head>
<body>
	<div id="fade" class="hide"></div>

	<div th:replace="fragments/topNav :: topo"></div>
	<div th:replace="fragments/canvMenu :: menu"></div>
	<div layout:fragment="corpo"></div>

	<!-- Modal Aviso -->
		<div id="fadeAviso" class="hide"></div>
		<div id="modalAviso" class="hide modalAviso">
			<div class="modalAviso-header">
				<h2>AVISO <i class="bi bi-exclamation-diamond-fill diamond"></i></h2>

			</div>

			<div class="modal-body modal-dialog-scrollable">
				<div class="avisos"></div>
			</div>
			<button align="right" class="btn-primary aviso" onclick="sair()">OK</button>
		</div>
	

	<script src="./js/bootstrap.bundle.min.js"></script>
	<script src="./js/jquery.dataTables.min.js"></script>
	<script src="./js/dataTables.bootstrap5.min.js"></script>
	<script src="./js/script.js"></script>
</body>
</html>