<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<link rel="stylesheet" href="css/stylealunoslist.css">
				
		<div id="cabecario" class="card">
			<h1>Listagam de Alunos</h1> 
		</div>
		
		<div class="table">
			<div class="table_header">
				<p></p>
				<div>
					<input placeholder="Localizar Aluno"/>
					<button class="add_new" onclick="cadastrar()">+Add New</button>
				</div>
			</div>
		</div>
		
		<div class="card" id="conteudo">
			<table id="alunoTable" class="table_section table table-hover table-sm">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nome</th>
			      <th scope="col">Data de Nascimento</th>
			      <th scope="col">Celular</th>
			      <th scope="col">Ações</th>
			    </tr>
			  </thead>
			  <tbody>
			    
			  </tbody>
			</table>
			
			
				
		</div>
		<div>
			<ul class="pagination">	</ul>
		</div>
		
		<script src="js/scriptalunoslist.js"></script>
		<script src="js/table-pagination.js"></script>
	</section>
</body>
</html>