<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/stylelogin.css" />
    <title>Login</title>
  </head>
  <body>    
    <div class="container">
      <div class="forms-container"> 
        <div class="alert"></div>
        <div class="signin-signup">         
          <form class="sign-in-form" id="form">
            <h2 class="title">Login</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" id="Username" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" id="Password" placeholder="Password" />
              <i class="fa fa-eye" aria-hidden="true"></i>
            </div>
            <button class="btn solid">Login</button>
          </form>          
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content"></div>
          	<img src="img/register.svg" class="image" alt="" />          
        </div>
      </div>
    </div>

    <script src="js/app.js"></script>
  </body>
</html>
