<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<link rel="stylesheet" href="css/stylealunoscad.css">
				
		<div id="cabecario" class="card">
			<h1>Cadastro de Alunos</h1> 
		</div>
		<div class="alert"></div>
		<div class="card" id="conteudo">
		<form action="" id="formCadastroAnoLetivo">
			<br>
			<div class="label-float" id="div_id">
                <input type="text" id="id" placeholder="" name="id" required readonly="readonly"> 
                <label id="labelId" for="id">ID: </label>
            </div>
			<div class="label-float" id="div_nome">
                <input type="text" id="anoletivo" placeholder="" name="anoletivo" required> 
                <label id="labelAnoletivo" for="anoletivo">Ano Letivo: </label>
            </div>
            <br>
        </form>
        <br>
	</div>
		
		<div class="btn">
			<button class="save" onclick="salvarAluno()">Salvar</button>
			<button class="cancel">Cancelar</button>
		</div>
		
		
		<script src="js/config/scriptanoletivocad.js"></script>

	</section>
</body>
</html>