<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/config/styleConfiguracao.css">
</head>
<body>
<div class="content" layout:fragment="corpo">
	<h1 id="logado"></h1>
       <div class="titulo-secao">
           <h2>Configurações</h2>
           <div class="separator"></div>
           <p><i class="fa-solid fa-gears"></i> / Outras Configurações</p>
       </div>
       
		<div class="card" id="conteudo">
			<br>
			<div class="btn">
				<button class="email">Configura Email</button>
			<!-- <button class="email">Configura Email</button> -->	
			</div>
			<br>
		</div>
		
		
		<script src="js/config/scriptconfiguracao.js"></script>
</div><!--content-->
</body>
</html>